body {
    background-color: rgb(83, 65, 56);
}

h1 {
    font-family: Garamond;
    text-align: center;
    color: #fbeca3;
    font-size: 60px;
}

h2 {
    color: #fbeca3;
}

h3 {
    color: #000000;
    font-size: 34px;
}

p {
    font-size: 20px;
    font-weight: bold;
}

#nav-bar{
    display: flex;
    width: auto;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline;
    float: center;
}

form {
    display:flex;
    justify-content: center;
    padding: 30px;
}

li a {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}

.header-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-bottom: 20px;
    padding-top: 20px;
}

#quest-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

#filtered-characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

#filtered-characters li {
    border-style: solid;
    border-width: 1px;
}

section img {
    width: 10%;
}

.quest-card-class {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgb(196, 180, 121);
    background-color: #fbeca3;
}
.quest-card-class {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgb(196, 180, 121);
    background-color: #fbeca3;
}

.add-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgb(196, 180, 121);
    background-color: #fbeca3;
}

#fellowship-form {
    display: flex;
    justify-content: flex-start;
}

#fellowship-form label {
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    color: #f5142e;
}

#character-details ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-weight: bold;
    font-size: 25px;
}

#character-details ul li a {
    justify-content: left;
    color: blue;
    padding: 0;
    margin: 1px;
}

#oath-form {
    justify-content: left;
}

#fellowship-section h2 {
    color: black;
    text-align: left;
}

#remove-a-character h2 {
    color: black;
    text-align: left;
}

.oath-class {
    background-color: transparent;
    width: 300px;
    height: 350px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.oath-class:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #fbeca3;
    color: black;
    font-weight: bold;
    font-size: 30px;
    
}

.flip-card-back {
    background-color: #fbeca3;
    color: Black;
    transform: rotateY(180deg);
}

.fellowship-char-info{
    display: inline-block;
}
